body{
    background-color:#ccffef;
    animation-name: color-change;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes color-change{
    from{
        background-color: #ccffef;
    }
    to{
        background-color: lightblue;
    }
}
.container{
    max-width: 400px;
    margin-top: 150px;
    padding-bottom: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    max-height: 400px;
}
.fa:before {
 visibility: visible;
}
.fa.fa-square-o:checked:before {
   content: "\f046";
}
input[type=checkbox].fa{
    visibility: hidden;
}